<% include ../../partials/header %>

<style>
    /*
    .hover:hover {
        box-shadow: 0px 0px 0px 1.5px grey;
        color: #2874f0;
        transition: 0s;
    }
    */
    .a:hover {
        text-decoration: none;
    }
    .hover img {
        border-left: 10px solid white;
        border-right: 10px solid white;
        border-top: 10px solid white;
    }
    .boards {
        font-size: 12px;
    }
</style>

<!-- Breadcrumb -->
<div class="container mt-4">
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="/" class="text-muted">
                <i class="fas fa-home"></i> Home
            </a>
        </div>
        <li class="breadcrumb-item active"> Indian Engineering Services (IES) </li>
    </div>
</div>

<div class="container my-3">
    <div class="card py-3 px-5">
        <div class="row">
            <div class="col-md-2">
                <h5>Sell Books</h5>
                <a href="/sell/new" class="btn btn-light btn-sm">Add New Book</a>
            </div>
            <div class="col-md-10 mt-2">
                <form action="/sell" method="get" class="form-inline">
                    <input type="search" placeholder="Search" name="search" class="search px-4 py-2 col-md-11 col-10">
                    <button class="btn btn-outline-danger search-icon">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <% for(var i = 0; i < ies.length; i++){ %>
            <div class="col-md-3 col-sm-12 col-12 my-3">
                <a href="/sell" class="a">
                    <div class="hover">
                        <div class="card">
                            <img class="card-img-top" src="<%= ies[i].image %>" height="320px">
                            <div class="card-body">
                                <h6><%= ies[i].title %></h6>
                                <p>Price: 
                                <%= ies[i].sellingPrice %></p>
                                <p>Original Price:
                                    <%= ies[i].originalPrice %></p>
                                <a class="btn btn-block btn-success" href="/sell/<%= //ies[i]._id %>">
                                    See More
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>

<% include ../../partials/footer %>