<% include ../partials/header %>

<div class="list-group container">
    <div class="list-group-item active mt-3">
        <h5 style="margin: -5px 0;">Add Book</h5>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-12">
                <form action="/sell/<%= editSell._id %>?_method=PUT" method="post">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" value="<%= editSell.title %>" name="sell[title]">
                    </div>
                    <div class="form-group">
                        <label>Genre</label>
                        <select name="sell[genre]" class="form-control">
                            <option value="School">School</option>
                            <option value="GATE">GATE</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Post Graduation">Post Graduation</option>
                            <option value="IIT-JEE">IIT-JEE</option>
                            <option value="IES">IES</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Artificial Intelligence">Artificial Intelligence</option>
                            <option value="Machine Learning">Machine Learning</option>
                            <option value="Deep Learning">Deep Learning</option>
                            <option value="Data Science">Data Science</option>
                            <option value="Drama">Drama</option>
                            <option value="Romance">Romance</option>
                            <option value="NonFiction">NonFiction</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        <input type="text" class="form-control" value="<%= editSell.author_name %>" name="sell[author_name]">
                    </div>
                    <div class="form-group">
                        <label>Publisher</label>
                        <input type="text" class="form-control" value="<%= editSell.publisher %>" name="sell[publisher]">
                    </div>
                    <div class="form-group">
                        <label>Pages</label>
                        <input type="text" class="form-control" name="sell[pages]" value="<%= editSell.pages %>">
                    </div>
                    <div class="form-group">
                        <label>Selling Price</label>
                        <input type="text" class="form-control" name="sell[sellingPrice]" value="<%= editSell.sellingPrice %>">
                    </div>
                    <div class="form-group">
                        <label>Original Price</label>
                        <input type="text" class="form-control" name="sell[originalPrice]" value="<%= editSell.originalPrice %>">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="sell[description]">
                            <%= editSell.description %>
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label>Image URL</label>
                        <input type="text" class="form-control" name="sell[image]" value="<%= editSell.image %>">
                    </div>

                    <button type="submit" class="btn btn-danger">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>